<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" ui-sref="main">myPackage.com.br</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">
      <li><a ui-sref="my-packages">Minhas encomendas</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" action="#" role="search">
      <li><a ui-sref="signin">Sign in</a></li>
      <li><a ui-sref="singup">Sing up</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->