<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

<div class="row" ng-if="!myPackages.favoritePackages">
    <div class="col-md-12">
        <div class="alert alert-warning text-center" role="alert">
            Você ainda não adicionou nenhuma encomenda aos seus favoritos!
        </div>
    </div>
</div>
 
 <div class="row" ng-if="myPackages.favoritePackages">
   <div class="col-md-10">
      <div class="form-group">
        <label for=""></label>
        <input type="text" ng-model="myPackages.package" class="form-control" placeholder="Busque uma encomenda">
      </div>
   </div>
   <div class="col-md-2">
        <button type="button" class="btn btn-default"  id="tooltip_favorite"  uib-tooltip="Sincronizar com a minha conta" >
            <span class="glyphicon glyphicon-transfer" style="font-size: 30px;"></span>
        </button>
   </div>
   <div class="col-md-12">
       <div class="table-responsive" style="min-height: 100px">
          <table class="table">
             <thead>
                <tr>
                   <th>Código</th>
                   <th>Data última atualização</th>
                   <th>Cidade última atualização</th>
                   <th>Ver no mapa</th>
                   <th>Status</th>
                   <th>Remover</th>
                   <th>Editar</th>
                </tr>
             </thead>
             <tbody>
                <tr ng-repeat="myFavoritePackage in myPackages.favoritePackages | filter: myPackages.package">
                   <th>{{myFavoritePackage.number}}</th>
                   <th>{{myFavoritePackage.events[0].date + " " + myFavoritePackage.events[0].hour}}</th>
                   <th>{{myFavoritePackage.events[0].city  + " - " + myFavoritePackage.events[0].state}}</th>
                   <th>
                       <a target="_blank" uib-tooltip="Ver no mapa" ng-href="{{'http://maps.google.com/?q=' + myFavoritePackage.events[0].place}}">Acessar</a>
                   </th>
                   <th>
                       <span class="label" ng-class="{'label-success': myFavoritePackage.events[0].description.indexOf('entregue') > -1}">Entregue</span>
                   </th>
                   <td>
                       <button type="button" class="btn btn-default btn-xs" uib-tooltip="Remover essa encomenda" >
                           <span class="glyphicon glyphicon-remove" ></span>
                       </button>
                   </td>
                   <td>
                       <button type="button" class="btn btn-default btn-xs" uib-tooltip="Editar essa encomenda" >
                           <span class="glyphicon glyphicon-pencil" ></span>
                       </button>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
   </div>
 </div>

</div>
