<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h2>Pesquise sua encomenda</h2>
    <form ng-submit="main.getPackage(main.packageId)" >
        <p class="lead">
          <input type="text" class="form-control input-hg" placeholder="Digite o código da sua encomenda" ng-model="main.packageId">
        </p>
        <p>
          <button type="submit" class="btn btn-lg btn-success"  ng-disabled="main.getPackagePromise"> Buscar</button>
        </p>
    </form>    
  </div>
  
  <div class="table-responsive" cg-busy="main.getPackagePromise" style="min-height: 150px">
    
      <table class="table" ng-if="main.package.events.length ">
         <thead>
            <tr>
               <th>Data</th>
               <th>Cidade</th>
               <th>Centro de distribuição</th>
               <th>Descrição</th>
               <th>
                   <button type="button" class="btn btn-default" id="tooltip_favorite" uib-tooltip="Favoritar essa encomenda" tooltip-placement="left" ng-click="main.favoritePackage(main.package)">
                       <span class="fui-heart" style="font-size: 30px;"></span>
                   </button>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="packageEvent in main.package.events">
               <th>{{packageEvent.date + " "+ packageEvent.hour}}</th>
               <td>{{packageEvent.city}}</td>
               <td>{{packageEvent.place}}</td>
               <td>{{packageEvent.description}}</td>
               <td></td>
            </tr>
         </tbody>
      </table>
      
   </div>

</div>
