<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

 
 <div class="row">
   <div class="col-md-4 col-md-offset-4">
    <form ng-submit="singup.submitRegistration(registrationForm)" name="submitRegistrationForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" name="name" ng-model="registrationForm.name" required="required"  class="form-control" placeholder="Nome">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email" ng-model="registrationForm.email" required="required"  class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" name="password" ng-model="registrationForm.password" required="required"  class="form-control" placeholder="Senha">
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="submitRegistrationForm.$invalid">Enviar</button>
    </form>
   </div>
 </div>

</div>
