<div class="modal-header">
    <h3 class="modal-title">Favorite esta encomenda!</h3>
</div>
<div class="modal-body">
     <form  name="submitLoginForm">
          <div class="form-group">
            <label >Número do pacote</label>
            <input type="text" name="packageId" ng-model="modal.favoritePackage.number" required="required"  class="form-control" disabled>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Descrição</label>
            <textarea name="description" ng-model="modal.favoritePackage.description" required="required"  class="form-control" placeholder="Senha"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Categoria</label>
            <select ng-model="modal.favoritePackage.category" required="required"  class="form-control">
                <option value="cultura">Cultura</option>
                <option value="vestuario">Vestuário</option>
                <option value="beleza">Beleza e saúde</option>
                <option value="eletronicos">Eletrônicos</option>
                <option value="informatica">Informática</option>
                <option value="esportes">Esportes</option>
                <option value="utilidade_domestica">Utilidade doméstica</option>
                <option value="alimentos">Alimentos</option>
                <option value="telefonia">Telefonia</option>
            </select>
          </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modal.save(modal.favoritePackage)" ng-disabled="submitLoginForm.$invalid">Salvar</button>
    <button class="btn btn-warning" type="button" ng-click="modal.exit()">Cancelar</button>
</div>