<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

 
 <div class="row">
   <div class="col-md-4 col-md-offset-4">
    <form ng-submit="signin.submitLogin(loginForm)" name="submitLoginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="email" ng-model="loginForm.email" required="required"  class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" name="password" ng-model="loginForm.password" required="required"  class="form-control" placeholder="Senha">
      </div>
      <button type="submit" class="btn btn-primary btn-block" ng-disabled="submitLoginForm.$invalid">Enviar</button>
    </form>
   </div>
 </div>

</div>
